include ./mixins/code-table.jade
include ./mixins/code-table-of-graph.jade
include ./mixins/code-freq-table.jade

.scrollable-parent
  // Nav tabs
  ul.nav.nav-tabs(role='tablist')
    li(class=!selected || selected==='matchedTabContent' ? 'active' : '', role='presentation')
      a(href='#matchedTabContent', aria-controls='matchedTabContent', role='tab', data-toggle='tab')= 'Matching codes (' + numMatched + ')'
    li(class=selected==='matchedDescendantButNotMatchedTabContent' ? 'active' : '', role='presentation')
      a(href='#matchedDescendantButNotMatchedTabContent', aria-controls='matchedDescendantButNotMatchedTabContent', role='tab', data-toggle='tab')= 'Unmatched descendants (' + numUnmatched + ')'
    li(class=selected==='excludedTabContent' ? 'active' : '', role='presentation')
      a(href='#excludedTabContent', aria-controls='excludedTabContent', role='tab', data-toggle='tab')= 'Excluded (' + excluded.length + ')'
    li(role='presentation',style="float:right;line-height:45px;")
      .btn-group
        button#downloadCodeSet.btn.btn-success Download code set
        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu
          li#downloadCodes
            a(href='#') Download codes
          li#downloadMeta
            a(href='#') Download meta
          li.divider(role='separator')
          li#downloadAll
            a(href='#') Download all

  // Tab panes
  .tab-content.scrollable
    #matchedTabContent.tab-pane(class=!selected || selected==='matchedTabContent' ? 'active in' : '', role='tabpanel',style='margin-bottom:20px')
      +codeTableOfGraph(matched)
    #matchedDescendantButNotMatchedTabContent.tab-pane(class=selected==='matchedDescendantButNotMatchedTabContent' ? 'active in' : '', role='tabpanel',style='margin-bottom:20px')
      +codeTableOfGraph(unmatched)
    #excludedTabContent.tab-pane(class=selected==='excludedTabContent' ? 'active in' : '', role='tabpanel',style='margin-bottom:20px')
      +codeTable(excluded)