include ./mixins/code-table.jade
include ./mixins/code-table-of-graph.jade
include ./mixins/code-freq-table.jade

div
  // Nav tabs
  ul.nav.nav-tabs(role='tablist')
    li(class=!selected || selected==='matchedTabContent' ? 'active' : '', role='presentation')
      a(href='#matchedTabContent', aria-controls='matchedTabContent', role='tab', data-toggle='tab')= 'Matching codes (' + numMatched + ')'
    li(class=selected==='matchedDescendentButNotMatchedTabContent' ? 'active' : '', role='presentation')
      a(href='#matchedDescendentButNotMatchedTabContent', aria-controls='matchedDescendentButNotMatchedTabContent', role='tab', data-toggle='tab')= 'Unmatched descendents (' + numUnmatched + ')'
    li(class=selected==='excludedTabContent' ? 'active' : '', role='presentation')
      a(href='#excludedTabContent', aria-controls='excludedTabContent', role='tab', data-toggle='tab')= 'Excluded (' + excluded.length + ')'
    li(role='presentation',style="float:right;line-height:45px;")
      .btn-group
        button#downloadCodeSet.btn.btn-success Download code set
        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu
          li#downloadCodes
            a(href='#') Download codes
          li#downloadMeta
            a(href='#') Download meta
          li.divider(role='separator')
          li#downloadAll
            a(href='#') Download all

  // Tab panes
  .tab-content
    #matchedTabContent.tab-pane(class=!selected || selected==='matchedTabContent' ? 'active in' : '', role='tabpanel')
      +codeTableOfGraph(matched)
    #matchedDescendentButNotMatchedTabContent.tab-pane(class=selected==='matchedDescendentButNotMatchedTabContent' ? 'active in' : '', role='tabpanel')
      +codeTableOfGraph(unmatched)
    #excludedTabContent.tab-pane(class=selected==='excludedTabContent' ? 'active in' : '', role='tabpanel')
      +codeTable(excluded)