mixin codeParentTable(parentCodes)
  table.table.table-condensed
    thead
      tr
        th(colspan="2")
          button.addSelectedMissingCodes.btn.btn-success Add selected
      tr
        th Code
        th Description(s)
        th  
          input#missingCodeCheckAll(type="checkbox",checked="checked") 
    tbody
      each parent in parentCodes
        if !parent.exclude
          tr.parent-row
            td= parent._id || parent.code
            td= parent.t || parent.description
            td 
              | INCLUDED
              button.removeParentCode.btn.btn-danger(data-code=parent.code) Remove
          each code in parent.codes
            if !code.exclude
              tr.child-row
                td.pre= '  ' + (code._id || code.code)
                td= code.t || code.description
                td
                  input.missingCode(type="checkbox",name="missingCode"+idx,checked="checked",value=code._id || code.code)
    tfoot
      tr
        td(colspan="2")
          button.addSelectedMissingCodes.btn.btn-success Add selected